body {
    font-family: 'Belanosima', sans-serif;
}
* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    width: auto;
}
a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-sm-3 {
    flex:0 0 25%;
    max-width: 25%;
}
.col-sm-7 {
    flex:0 0 58.33333%;
    max-width: 58.33333%;
}
.col-sm-2 {
    flex:0 0 20%;
    max-width: 20%;
}
.col-sm-5 {
    flex: 0 0 41.66665%;
    max-width: 41.66665%;
}
.col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-sm-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
}



@media(max-width:767px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .col-xs-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-xs-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
}

/* header */
.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: black;
}
.logo {
    width: 180px;
    height: 50px;
    line-height: 50px;
    margin: 15px;
}
.menu {
    display: flex;
}
.menu li {
    flex: 0 0 16.66666%;
    max-width: 16.66666%;
    text-align: center;
    height: 80px;
    line-height: 80px;
}
#purple {
    background-color: rgb(179, 0, 179);
}
.menu a {
    color: white;
    font-size: 20px;
}
.menu li:hover {
    background-color:rgba(179, 0, 179,0.5);
    transition: 0.4s ease-in-out;
}
/* main */
.main-picture {
    width: 100%;
    height: 700px;
    background-image: url(images/scenic_-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.position {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50px;
}
.leasing {
    width: 100%;
    height: 300px;
    background-color: rgba(179, 0, 179,0.5);
}
.leasing h1 {
    font-size: 50px;
    font-weight: 600;
    padding: 50px;
    color: white;
}
.leasing a {
    display: block;
    width: 120px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    margin-left:50px;
    margin-bottom: 50px;
}
.leasing a:hover{
    background-color: white;
    color: black;
    transition: 0.4s;
}
/* section incars */

.carsIn {
    background-color: rgb(236, 236, 236);
}
.carsInStoke{
    display: flex;
    align-items: center;

}
.carsInStoke h3 {
    width: 250px;
    font-size: 35px;
    font-weight: 300;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 50px;
}
.carsInStoke .span {
    height: 2px;
    width: 100%;
    background-color: rgb(188, 187, 187);
}

/* section carsPhoto */

.carsPhoto {
    background-color: rgb(236, 236, 236);
}
.padding {
    padding: 10px;
}
.images {
    background-color:white;
}
.images img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.nameCar {
    height: 180px;
    background-color: white;
    padding: 30px;
}
.nameCar h3 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}
.nameCar h4 {
    font-size: 30px;
    font-weight: 100;
}
.center {
    justify-content: center;
}
.seeMore a {
    display: block;
    width: 100%;
    background-color: black;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-size: 20px;

}

/* section calc */

.imageCalc {
    margin: 70px ;
}
.column {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
.column .p1 {
    color: rgb(78, 187, 78);
    margin-bottom: 25px;
    font-size: 18px;
}
.column h2 {
    font-size: 60px;
    margin-bottom: 25px;
}
.column p {
    background-color: rgb(78, 187, 78);
    padding-left: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
.column .p2 {
    margin-top: 40px; 
    margin-bottom: 70px;
    font-size: 18px;
}
.column a {
    display: block;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: black;
    color: white;
    letter-spacing: 5px;
}

/* section welcomeTo */

.welcomeTo {
    background-color: black;
    padding-bottom: 80px;
}
.mostPopular p {
    color: white;
    font-size: 18px;
    margin-top: 80px;
    margin-bottom: 30px;
}
.mostPopular h2 {
    color: white;
    font-size: 80px;
    font-weight: 600;
    padding-bottom: 80px;
}
.twoCars {
    padding-left: 5px;
    padding-bottom: 5px;
}
.twoCars {
    position: relative;
}
.twoCars a {
    position: absolute;
    left: 30px;
    top: 80%;
    color: white;
    font-size: 30px;
    padding: 0 10px;
}
.twoCars a:after {
    content: "";
    position: absolute;
    background-color: rgb(179, 0, 179);
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s; 
}
.twoCars a:hover:after {
    width: 100%;
    margin-bottom: -5px;
}

/* section JoinUs */
.JoinUs {
    background-color: white;
    border-bottom: 2px solid rgb(186, 186, 186);
}
.title {
    margin-top: 70px;
    color: black;
    font-size: 60px;
}
.padding {
    padding-left: 60px;
    padding-bottom: 60px;
    padding-right: 60px;
}
.text {
    padding-top: 70px;
}
.text h4 {
    font-size: 45px;
    margin-bottom: 30px;
}
.text a {
    display: block;
    margin-top: 40px;
    width: 130px;
    height: 50px;
    color: white;
    background-color: black;
    text-align: center;
    line-height: 50px;
    letter-spacing: 2px;
}

/* section 123 */

.numbers {
    padding: 40px;
}
.numb {
    margin-top: 100px;
    margin-left: 30px;
    font-size: 100px;
    margin-bottom: 15px;
    color: rgb(179, 0, 179);
}
.numbers h5 {
    font-size: 45px;
    margin-bottom: 15px;
}

/* section last */
.last {
    background-color: rgb(223, 223, 223);
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid rgb(179, 179, 179);
}

.logo2 div {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.send h6 {
    font-size: 25px;
    padding-bottom: 15px;
}
.email input {
    width: 230px;
    height: 40px;
    border: none;
    margin-bottom: 30px;
}
.email input::placeholder {
    padding-left: 25px;
    font-size: 18px;
}
.email input:focus {
    outline: none;
    padding-left: 10px;
}
.email button {
    width: 90px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
}
.email button:hover {
    background-color: rgb(46, 46, 46);
}
.cellphone {
    padding-left: 20px;
    padding-top: 20px;
    background-image: url(images/telephone.png);
    background-repeat: no-repeat;
    background-position: 0 20px;
}
.myEmail {
    padding-left: 20px;
    padding-top: 20px;
    background-image: url(images/email.png);
    background-repeat: no-repeat;
    background-position: 0 20px;
}

/* footer */
.footer {
    height: 100px;
    background-color:  rgb(223, 223, 223);;
    display: flex;
    justify-content: space-between;
    padding: 35px;
}
.iconsTwitter a {
    margin: 13px;
}




